*, h1, h2, p{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.box-main{
    display: flex;
    width: 100%;
    padding-top: 80px;

}

.box-main h2{
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 20px;
}

.box-jogador{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.box-monstro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.barra-jogador, .barra-monstro{
    border: solid 1px #333;
    width: 400px;
    height: 25px;
}

.progresso{
	background-color: rgb(17, 155, 28);
	height: 100%;
}

.comandos{
    margin-top: 80px;
    text-align: center;
}

.comandos button:hover{
    cursor: pointer;
}

.comandos button{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    border: none;
    padding: 8px;
    border-radius: 7px;
    margin-right: 10px;
}

.comandos .btn-ataque{
    background-color: red;
}

.comandos .btn-ataque-especial{
    background-color: rgb(218, 147, 42);
}

.comandos .btn-curar{
    background-color: rgb(57, 150, 45);
}

.comandos .btn-desistir{
    background-color: rgb(138, 138, 138);
}